<!DOCTYPE html>
<html lang="{{ settings.site.lang }}">
<head>
    {{ includes(page.includes.head_before) }}
    {{ includes(page.includes.head) }}
    {{ includes(page.includes.head_after) }}
</head>
{% if pagefind_ignore %}
<body data-pagefind-ignore>
{% else %}
<body data-pagefind-body>
{% endif %}
{% block body %}
    {{ includes(page.includes.body_before) }}
    {{ includes(page.includes.header_before) }}
    <header>
        {{ includes(page.includes.header) }}
        {% block header %}{% endblock %}
    </header>
    {{ includes(page.includes.header_after) }}
    {{ includes(page.includes.nav_before) }}
    <nav>
        {{ includes(page.includes.nav) }}
        {% block nav %}{% endblock %}
    </nav>
    {{ includes(page.includes.nav_after) }}
    {{ includes(page.includes.main_before) }}
    <main>
        {{ includes(page.includes.content_before) }}
        {{ includes(page.includes.main) }}
        {{ includes(page.includes.mody) }}
        {% block main %}
            {% block content %}{% endblock %}
        {% endblock %}
        {{ includes(page.includes.content) }}
        {{ includes(page.includes.content_after) }}
    </main>
    {{ includes(page.includes.main_after) }}
    {{ includes(page.includes.aside_before) }}
    <aside>
        {{ includes(page.includes.aside) }}
        {% block aside %}{% endblock %}
    </aside>
    {{ includes(page.includes.aside_after) }}
    {{ includes(page.includes.footer_before) }}
    <footer>
        {{ includes(page.includes.footer) }}
        {% block footer %}{% endblock %}
    </footer>
    {{ includes(page.includes.footer_after) }}
    {{ includes(page.includes.body_after) }}
{% endblock %}
</body>
</html>
