<meta charset="utf-8"/>
<meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}{{ settings.site.description }}{% endif %}">
<meta name="keywords" content="{{ page.meta_keywords }}">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<title>{% if page.meta_title %}{{ page.meta_title }}{% else %}{{ page.title }}{% endif %}</title>
